.agentWrapper {
	padding-top: 150px;
	margin-bottom: 50px;
}

body {
	margin-bottom: 1000px;
}

.agentWrapper > * {
	justify-content: center;
	min-width: 300px;
}

.agentImageWrapper {
	display: flex;
}

#agentsNav, #mobileAgentsWrapper {
	border: 1px solid;
}

.section {
	margin-bottom: 50px;
}
