.agentWrapper {
	width: 45%;
	display: inline-block;
	min-width: 450px;
	margin: 10px;
}

#allAgents {
	width: 50%;
	display: block;
	margin: auto;
	margin-bottom: 50px;
}

.agentWebsite, .agentEmail {
	font-size: 12pt;
}

#totalOverview {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.agentParagraph {
	font-size: 10pt;
}

.agentElement {
	margin: 5px;
}

.agentName {
	font-size: 20pt;
}

#ourAgentsTitle {
	font-size: 20pt;
}

.agentImage {
	max-width: 250px;
}

#ourAgentsT

.agentImageWrapper {
	float:left;
	margin: 0px 16px 16px 0px;
	min-width: 250px;
}

#agentsNav {
	border: 1px solid;
}

#allAgentsList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
