.agentWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 45%;
	justify-content: center;
	min-width: 450px;
	margin: 10px;
}

.agentWebsite {
	text-align: center;
}

#mainBrokerWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.agentElement {
	font-size: 12pt;
	margin: 5px;
}

.agentName {
	font-size: 16pt;
}

.agentInfo {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 50px;
}

.agentImageWrapper, .agentInfo {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	align-self: center;
	min-width: 250px;
	margin: 0px;
}

#agentsNav {
	border: 1px solid;
}

#allAgentsList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
