#contactNav {
	border: 1px solid;
}

#contactForm {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	border: 1px;
}

#contactWrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	margin: 10px;
}

.contactWrapperSection {
	flex: 1;
	justify-content: center;
	width: 100%;
	min-width: 300px;
	margin: auto;
}

#contactLogo {
	justify-content: center;
	align-self: center;
	max-width: 50%;
}

@media only screen and (max-width: 500px) {
	#contactLogo {
		max-width: 75%;
	}
}

.infoElement > a:hover {
	text-decoration: underline;
}

#imageWrapper, #infoText {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.infoElement {
	margin: 10px;
	text-align: center;
}
