.errorPage {
	width: 100%;
}

.errorCode {
	font-size: 36pt;
}

#homeNav {
	border: 1px solid;
}

.errorElement {
	margin: 20px auto;
	display: block;
	width: 50%;
	z-index: 4;
	text-align: center;
}
