#dots {
	text-align:center;
}

#findNav {
	border: 1px solid;
}

#housesWrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

#houses {
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.house {
	border-radius: 5px;
	border:1px solid black;
	cursor: pointer;
	width: 300px;
	height: 350px;
	margin: 8px;
	position: relative;
	background-color: white;
}

.houseImage {
	border-radius: 4px 4px 0px 0px;
}

.houseElement {
	display: block;
	margin: 0px;
	font-size: 12pt;
}

.houseInformation {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 8px;
	width: 284px;
	margin: 8px;
}

#mapHouseWrapper {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
}

#mapHouse {
	border-radius: 5px;
	border:1px solid black;
	cursor: pointer;
	width: 300px;
	height: 350px;
	background-color: white;
	position:absolute;
	top: 50%;
	left: 50%;
	display:inline-block;
	transform: translate(-50%,-50%);
}

#searchBox {
	margin: 10px;
}

#searchForm {
	border: 1px solid black;
	border-radius: 5px;
	padding: 8px;
	background-color: white;
}

.searchFormLine {
	display: flex;
	flex-wrap: wrap;
}

.searchElement {
	padding: 12px 4px;
	margin: 8px 4px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	min-width: 100px;
	flex: 1;
}

#searchSubmit {
	border: none;
}

#mapGridSwitch {
	padding: 16px;
	background-color: #555555;
	float: right;
	margin: 16px;
}

#mapGridSwitch:hover {
	background-color: #333333;
}

#map {
	display: none;
}
