#homeNav {
	border: 1px solid;
}

#largeImage {
	width: 100%;
}

#imageWrapper {
	display: flex;
	justify-content: center;
}

#homesSection {
	padding-top: 0px;
}

#arrow {
	position: absolute;
	width: 11.5%;
	display: block;
	left: 0;
	right: 0;
	margin: auto;
	top: calc(2.3vw + 110px);
	z-index: 1;
	animation: rotate 30s linear infinite;
}

@keyframes rotate {
	50% {
		transform: rotate(360deg)
	}
	100% {
		transform: rotate(0deg);
	}
}

.houseImageWrapper {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}

#houses:hover > .houseImageWrapper:not(:hover) > .houseLink {
	filter: blur(2px);
	opacity: 0.75;
}

#houses {
	display: flex;
	margin: 0px;
	margin-top: 25px;
	padding: 0px;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-x: hidden;
}

.houseLink {
	width: 100%;
	height: auto;
	border: 1px solid black;
}

.caption {
	text-align: center;
}


#contactForm {
	border: 1px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

#searchForm {
	border-radius: 5px;
	padding: 8px;
}

.searchFormLine {
	display: flex;
	flex-wrap: wrap;
}

.searchElement {
	box-sizing: border-box;
	min-width: 100px;
	flex: 1;
	margin: 4px;
}

#whoInfo, #missionInfo {
	min-width: 200px;
	font-size: 14pt;
	text-align:justify;
}

#infoWrapper {
	margin: 0px;
}

#infoTitle, #infoText {
	flex: 1;
}

.infoElement {
	text-align: center;
}

.infoElement > a:hover {
	text-decoration: underline;
}

#facebookWrapper {
	display:flex;
	width: 500px;
	max-width: 100%;
	justify-content: center;
}

#facebookFrame {
	width: 500px;
	height:500px;
	border: 0px;
}


#linkButtons, #whoMissionInfo, #infoContact {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.linkButton, .whoSection, .infoSection {
	flex: 1;
	align-self: center;
	margin: 5px;
}
