p {
	font-size: 16pt;
	text-align:justify;
	margin: 20px;
}

h2 {
	text-align: center;
}

#homeNav {
	border: 1px solid;
}

#houses > * {
	cursor: pointer;
}

.houseImageWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#houses:hover > .houseImageWrapper:not(:hover) > .house {
	filter: blur(2px);
	opacity: 0.75;
}

#arrow {
	position: absolute;
	width: 11%;
	display: block;
	margin: auto;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
	animation: rotate 30s linear infinite;
}

@keyframes rotate {
	50% {
		transform: rotate(360deg)
	}
	100% {
		transform: rotate(0deg);
	}
}

#contactForm {
	display: flex;
	flex-direction: column;
	margin: 0px;
	margin-left: auto;
}

#contactFormName, #contactFormEmail, #contactFormPhone, #contactFormText, #contactFormSubmit {
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

#searchForm {
	border-radius: 5px;
	padding: 8px;
}

#searchFirstLine, #searchSecondLine, #searchSubmitWrapper {
	display: flex;
	flex-wrap: wrap;
}

#searchForm > * > *, #searchSubmit {
	padding: 12px 4px;
	margin: 8px 4px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	min-width: 100px;
	flex: 1;
}

#infoWrapper {
	margin: 0px;
}

#whoInfo, #missionInfo {
	min-width: 200px;
	margin: 10px;
}

#imageWrapper {
	display: flex;
	justify-content: center;
}

#infoTitle, #infoText {
	flex: 1;
}

#infoText > * {
	text-align: center;
}

#ourInfo, #ourInfo > * {
	background-color:transparent;
	font-size: 14pt;
	margin: 10px !important;
}

#infoWrapper > a:link {
	color: #73BC46;
	background-color: transparent;
	text-decoration: none;
}

#infoWrapper > a:visited {
	color: gray;
	background-color: transparent;
	text-decoration: underline;
}

#infoWrapper > a:hover {
	color: #45a049;
	background-color: transparent;
	text-decoration: underline;
}

#infoWrapper > a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
}

#houses {
	display: flex;
	width: calc(100vw-10px);
	flex-direction: row;
	flex-wrap: wrap;
}

#houses > * {
	flex: 1;
}

#socialIcons {
	display:flex;
	justify-content:flex-end;
	align-items:center;;
}

#socialIcons > * {
	margin: 10px;
}

#facebookWrapper {
	display:flex;
	width: 500px;
	justify-content: center;
}

.house {
	width: 100%;
	height: auto;
	border: 1px solid black;
	background-color: black;
}

.caption {
	text-align: center;
}

#linkButtons, #whoMissionInfo, #infoContact {
	width: calc(100vw-10px);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

#linkButtons > *, #whoMissionInfo > *, #infoContact > * {
	flex: 1;
	align-self: center;
}
