#testimonialsNav {
	border: 1px solid;
}

.testimonialFrame {
	min-width: 300px;
	width: 30%;
	margin: 10px;
}

#testimonialsList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	flex: 1;
	padding: 10px;
	margin: 10px;
	min-width: 250px;
}

.testimonialName {
	font-size: 12pt;
}

.testimonialText {
	font-size: 12pt;
	margin: 0px;
	font-style: italic;
}

#testimonialsForm {
	display: flex;
	flex-direction: column;
	border: 1px;
}

#testimonialsWrapper {
	display: flex;
	/* flex-wrap: wrap; */
	flex-direction: column;
}

#testimonialsImages, #addTestimonialsWrapper {
	flex: 1;
	justify-content: center;
	margin: 10px;
	min-width: 300px;
}
