.testimonialFrame {
	width: 100%;
	min-height: 500px;
}

#testimonialsNav {
	border: 1px solid;
}

#testimonialSlideshow {
	position: relative;
	margin: auto;
	display: inline-block;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	min-height: 500px;
}

#prev, #next {
	cursor: pointer;
	position: absolute;
	padding: 16px;
	color: white;
	top: 45%;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	user-select: none;
}

#prev {
	left: 0;
	border-radius: 5px 0 0 5px;
}

#next {
	right: 0;
	border-radius: 5px 0 0 5px;
}

#prev:hover, #next:hover {
	background-color: rgba(0,0,0,0.8);
	margin-left: 8px;
	margin-right: 8px;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 10px 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

.active {
	height: 20px;
	width: 20px;
	background-color: #717171;
}
.dot:hover {
	height: 20px;
	width: 20px;
	background-color: black;
}

.testimonialWrapper {
	width: 100%;
	height: 392px;
	border-radius: 5px;
	border: 1px solid black;
	padding: 10px;
	max-width: 500px;
}

.testimonialName {
	font-size: 20;
}

.testimonialText {
	font-size: 20;
}

#testimonialsForm {
	display: flex;
	flex-direction: column;
}

#testimonialsWrapper {
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;
}

#testimonialsImages, #addTestimonialsWrapper {
	flex: 1;
	justify-content: center;
	margin: 10px;
	min-width: 300px;
}
